paint-canvas {
  display: inline-block;
  font-size: 0;
  outline: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

input[type="number"] {
  width: 50px;
}


.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen[drawing] ~ .tools {
  display: none;
}

.tools {
  position: relative;
}
